/**
 * @作者: Seale
 * @时间: 2022/1/13
 * @版本: V1.0
 * @声明: 复用样式请和作者联系
 * @网站: https://www.imsle.com
 * @说明: 核心样式
*/
.eend-container{
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  &.small{
    width: 1140px;
  }
}

